<h4>
  <!--<span>{{userName}}</span>님 환영합니다.-->
  {{welcomeMsg}}
</h4>
<mat-card>
<div class="contents">
  <mat-input-container>
    <input matInput name="value" placeholder="사용자 이름"
           [(ngModel)]="userName" (ngModelChange)="onChange()">
  </mat-input-container>
  <button mat-raised-button (click)="showWelcomeMsg()">입력</button>
  <!--<label for="user-name">사용자 이름: </label>-->
  <!--<input type="text" name="user-name" id="user-name" #nameInput (keyup)="onKeyUp(nameInput.value)">-->
  <!--<input type="text" name="user-name" id="user-name" [(ngModel)]="userName" (ngModelChange)="onChange()">-->
  <!--<button type="button" (click)="showWelcomeMsg()">입력</button>-->
  <span class="welcome-msg">{{welcomeMsg}}</span>

</div>
</mat-card>
